
.header-container {
    position: flex;
    display: block;
    width: 100%;
    padding: 30px 0px;
    gap: 10px;
    text-align: center;
    border-top: 2px solid var(--WHITE, #FFFDF3);
    border-bottom: 2px solid var(--WHITE, #FFFDF3);
}

.main-header {
    color: var(--white, #FFFDF3);
    font-family: MuseoModerno;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    
}

.contact-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 3%;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

label {
    font-weight: bold;
    color: white;
}

input {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
}

textarea {
    width: auto;
    height: 20rem;
    padding: 10px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px 20px;
    background: rgba(86, 101, 239, 0.50);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
    border-radius: 25px;
}