.nav-nav-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 3%;
  width: 100%;
  padding-left: 17%;
}

li {
  color: #FFFDF3;
  font-family: 'Lexend Exa';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none; /* Remove underline from normal state */
  position: relative; /* Make li a positioned container */
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link.active {
  color:  #5665EF;
}

li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFFDF3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

