.top-container {
  display: flex;
  flex-direction: row;
}

.selfie-container {
  display: flex;
  max-width: 550px;
}

.name-and-webdev-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.web-developer-container {
  display: flex;
  justify-content: center;
}

.web-developer {
  color: var(--white, #FFFDF3);
  font-family: Lexend Exa;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

.name-container {
  z-index: 1;

}

.name {
  color: var(--white, #FFFDF3);
  font-family: MuseoModerno;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 8rem;
  margin-left: 15%;
}

.welcome-container {
  display: flex;
  padding: 1.875rem 0.625rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  border-top: 2px solid var(--white, #FFFDF3);
  border-bottom: 2px solid var(--white, #FFFDF3);
}

.welcome {
  color: var(--white, #FFFDF3);
  font-family: Lexend Exa;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.about {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--white, #FFFDF3);
}


.coding-about-container {
  display: flex;
  flex-direction: column;
  width: 74%
}

.coding-pic {
  margin-top: auto;
}

.earth-box {
  width: 45%;
  display: flex;
  border-right: 2px solid var(--white, #FFFDF3);
}

.earth {
  height: 90%;
  padding: 15%;
}

.introduction-container {
  display: flex;
  text-align: center;
}

.introduction {
  position: relative;
  color: #FFFDF3;
  font-size: 20px;
  padding: 11% 20px 12% 20px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
}

.fourth-demension {
  min-width: 30%;
  max-height: 600px;
  height: auto;
}

.my-work-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3%;
  width:auto; 
  border-bottom: 2px solid var(--WHITE, #FFFDF3);
  border-left: 2px solid var(--WHITE, #FFFDF3);
}

.my-work {
  color: var(--WHITE, #FFFDF3);
  font-family: Lexend Giga;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
}