.Main {
    height: 100%;
    width: 100%;
}

.Header-container {
    
    position: flex;
    display: block;
    width: 100%;
    padding: 30px 0px;
    gap: 10px;
    text-align: center;
    border-top: 2px solid var(--WHITE, #FFFDF3);
    border-bottom: 2px solid var(--WHITE, #FFFDF3);
}

.mainHeader {
    font-family: 'MuseoModerno';
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    color: var(--white, #FFFDF3);
    justify-content: center;
}

.project-container{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
}

.project-div {
    color: var(--white, #FFFDF3);
    min-width: 500px;
    width: 100px;
    height: 30rem;
    box-shadow: 0 4px 4px 0px;
    margin: 3rem 1rem;
    box-sizing: border-box;
}

.project-image{
    height: 100%;
    width: 100%;
}
