.top-container {
  max-height: 585px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: auto;
}

.name-and-webdev-box {
  width: 50%;
}

.web-developer-container {
  width: 100%;
  display: flex;
  margin: 35% 10% 5% 40%
}

.web-developer {
  color: var(--white, #FFFDF3);
  font-family: Lexend Exa;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;

}

.name-container {
  position: relative;

}

.name {
  color: var(--white, #FFFDF3);
  font-family: MuseoModerno;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 6rem;
  margin-left: 10%;
}

.selfie-container {
  width: 50%;
  height: 100%;
}

.selfie {
  display: relative;
  width: 40rem;
  margin-left: 20%;
}

.welcome-container {
  display: flex;
  padding: 1.875rem 0.625rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  border-top: 2px solid var(--white, #FFFDF3);
  border-bottom: 2px solid var(--white, #FFFDF3);
}

.welcome {
  color: var(--white, #FFFDF3);
  font-family: Lexend Exa;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  /* 2.7rem */
}

.about {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--white, #FFFDF3);
}


.coding-about-container {
  display:flexbox;
  height:100% ;
  width: 100%;
}

.earth-box { 
  margin-left: 10%;
  border-left: 2px solid var(--white, #FFFDF3);
  border-right: 2px solid var(--white, #FFFDF3);
}

.earth {
  padding: 20%;
}

.introduction-container {

}

.introduction {
color: #FFFDF3;
padding: 10%;
font-size: larger;
  
}

.coding-pic {
height: 50%;
}




.bottom-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

.fourth-demension {}

.my-work-container {}

.my-work {}