.top-container {
  height: auto;
  display: flex;
}

.name-and-webdev-box {
  width: 50%;
}

.web-developer-container {
  width: 100%;
  display: flex;
  margin: 35% 10% 5% 40%
}

.web-developer {
  color: var(--white, #FFFDF3);
  font-family: Lexend Exa;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

.name-container {
  position: relative;
  z-index: 1;
}

.name {
  color: var(--white, #FFFDF3);
  font-family: MuseoModerno;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 6rem;
  margin-left: 10%;
}

.selfie-container {
  position: relative;
}

.selfie {
  display: relative;
  width: auto;
  max-width: 400px;
}

.welcome-container {
  display: flex;
  padding: 1.875rem 0.625rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.625rem;
  border-top: 2px solid var(--white, #FFFDF3);
  border-bottom: 2px solid var(--white, #FFFDF3);
}

.welcome {
  color: var(--white, #FFFDF3);
  font-family: Lexend Exa;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.about {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--white, #FFFDF3);
}


.coding-about-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
}

.earth-box {
  margin-left: 5%;
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-left: 2px solid var(--white, #FFFDF3);
  border-right: 2px solid var(--white, #FFFDF3);
 
}

.earth {
  padding: 5%;
}

.introduction-container {
  position: relative;
  text-align: center;
  display: flex;
}

.introduction {
  position: relative;
  color: #FFFDF3;
  font-size: medium;
  padding: 11% 20px 12% 20px;
}


.bottom-container {
  display: flex;
}

.fourth-demension {
  max-width: 50%;
  max-height: 600px;
  height: auto;
}

.my-work-container {
  max-height: 600px;
  max-width: 1000px;
  padding: 0 3%;
  display: flex;
  width: 1252px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top: 2px solid var(--WHITE, #FFFDF3);
border-bottom: 2px solid var(--WHITE, #FFFDF3);
border-left: 2px solid var(--WHITE, #FFFDF3);
}

.my-work {
  
color: var(--WHITE, #FFFDF3);
font-family: Lexend Giga;
font-size: 1.6vw;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
}